# snmp
 conf snmp sysname {{ item['name'] }}
 conf snmp sysloc {{ item['location'] }}
!
# vlan
{% for vlan in item['vlans_tag'] %}
 create vlan {{vlan.name}} tag {{vlan.tag}}
{% endfor %}
{% for vlan in item['vlans_l3'] %}
 create vlan {{vlan.name}} tag {{vlan.tag}}
 conf {{vlan.name}} ip {{vlan.ip}}
{% endfor %}
!
# ports
{% for port in item['ul_ports'] %}
 {% for tag in port['tags'] %}
 conf {{tag}} add port {{port.number}} tagged
{% endfor %}
{% endfor %}
!!!!!!!!!!!
!!!!!!!!!!!
{% for id in range (1, item['stack']+1) %}
conf lldp ports {{id}}:1-48 adv vend med cap
conf lldp ports {{id}}:1-48 adv vend med policy app voice vlan voice dscp 46
conf lldp ports {{id}}:1-48 adv vend med policy app voice-sig vlan voice dscp 40
conf def del ports {{id}}:1-48
conf {{item.vlan}} add ports {{id}}:1-48 un
conf voice add ports {{id}}:1-48 tag
{% endfor %}
